/******************************************************************
Developed by:
URL:

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
body.login {
  background-size: cover;
  background-position: center;
  position: relative;
}

body.login::before{
  content:"";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.4);
}

@media only screen and (min-width: 768px) {
  body.login {
    background: url(../images/login-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  #login {
    width: 320px;
    padding: 8% 20% 0 0 !important;
    margin: auto;
  }
  .login p a{
    color: #fff !important;
  }
  /* the form box */
}

#login {
  width: 320px;
  padding: 8% 0;
  margin: auto;
}

/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
  background: url(../images/logo.svg) no-repeat top center;
  /* make sure to replace this! */
  background-size: contain;
  width: 280px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body form .input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}

#wp-submit {
  background-color: #444;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#wp-submit:hover {
  background-color: #222;
}

/* login button*/
