/******************************************************************
Developed by:
URL:

Stylesheet: Main Stylesheet

Load stylesheets!
******************************************************************/
/******************************************************************
Site Name:
Author:
=======
Developed by:
URL:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.
******************************************************************/
/*********************
COLORS
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
.center {
  text-align: center; }

/*
BASE (MOBILE) SIZE
These are the mobile styles.
*/
/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Base Mobile Stylesheet
------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
  3.2 - Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce

******************************************************************/
/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-weight: normal !important; }

/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/
.main-menu-container {
  visibility: hidden; }

.flyout-menu-container {
  background-color: #000 !important; }
  .flyout-menu-container ul .current-menu-item a {
    font-family: Arial, sans-serif !important;
    color: #f15f43 !important; }
    .flyout-menu-container ul .current-menu-item a:hover {
      color: #f15f43 !important; }
    .flyout-menu-container ul .current-menu-item a:after {
      content: '.';
      color: #fff !important; }
  .flyout-menu-container ul li a {
    font-size: 40px !important;
    line-height: 1;
    text-align: left !important;
    color: #fff !important;
    padding: 0 0 15px 0 !important; }
    .flyout-menu-container ul li a:hover {
      color: #f15f43 !important; }
  .flyout-menu-container .social-links {
    position: absolute;
    bottom: 3%;
    max-width: 930px;
    width: 94%;
    margin: 0 auto !important;
    padding: 0 15px; }
    .flyout-menu-container .social-links li {
      display: inline-block;
      width: auto;
      margin: 0 20px 0 0; }
      .flyout-menu-container .social-links li a {
        width: auto;
        font-size: 21px !important; }

/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/
.page-sub-title {
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  font-family: Arial, sans-serif;
  display: block; }

.page-banner img {
  width: 100%;
  height: auto; }

h1.page-title {
  margin: auto;
  text-align: center;
  font-size: 50px;
  padding: 0 20px;
  position: relative; }
  h1.page-title:before {
    border-top: 1px solid #dadada;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1; }
  h1.page-title span {
    background: #fff;
    padding: 0 30px; }

h1.page-title-v2 {
  margin: -30px 0 0 5%;
  font-size: 60px; }

.thank-you h2 {
  margin: 20px 0 30px 0 !important; }

/*------------------------------------------------------------------
4.1 - Homepage
------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .mobile-bg {
    display: block;
    margin-top: -120px;
    text-align: center; }
    .mobile-bg img {
      max-width: 320px !important; }
  #home-bg {
    margin-top: 0;
    background-image: none !important; }
    #home-bg .left-side {
      width: 100% !important;
      margin-top: -160px;
      text-align: center; }
      #home-bg .left-side h1 {
        width: auto;
        font-size: 38px;
        display: inline-block;
        margin: 0 !important;
        text-align: right;
        padding: 0; }
      #home-bg .left-side img {
        max-width: 40%;
        width: 190px;
        display: inline-block;
        margin: 0 !important; }
      #home-bg .left-side p {
        max-width: 500px;
        margin: 0 auto 20px;
        font-size: 16px !important; }
      #home-bg .left-side button {
        margin: 0 0 40px 0;
        font-size: 14px;
        padding: 10px 15px; }
    #home-bg .info-bar {
      display: none;
      margin: 20px 0;
      text-align: center; } }

#home-bg {
  background-position: 45% 45% !important;
  background-size: cover;
  width: 100%;
  position: relative;
  background-color: #FFF; }
  #home-bg .left-side {
    display: inline-block;
    margin-right: 5%; }
    #home-bg .left-side img {
      margin: 10px 0 30px 0; }
    #home-bg .left-side p {
      font-size: 20px;
      line-height: 1.25 !important; }
  #home-bg .info-bar {
    background-color: #f15f43;
    padding: 5px 20px;
    color: #fff;
    max-width: 400px; }
  #home-bg h1 {
    font-size: 60px;
    width: 100%;
    color: #f15f43;
    margin: 0; }
  #home-bg .form-container {
    background-color: rgba(50, 50, 50, 0.8);
    padding: 10px 0 20px 0;
    color: #fff;
    width: 100%;
    text-align: center; }
    #home-bg .form-container span {
      display: inline-block;
      text-transform: uppercase;
      font-size: 24px;
      padding: 7px 20px 0 0;
      margin-bottom: 10px; }
    #home-bg .form-container form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #home-bg .form-container form input {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin: 0 15px 0 0;
        border: none;
        -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        color: #fff;
        background: rgba(255, 255, 255, 0.5); }
      #home-bg .form-container form button[type=submit], #home-bg .form-container form input[type=submit] {
        margin: 0;
        -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        background: #f15f43;
        color: #fff;
        padding: 12px 25px;
        font-family: Arial, sans-serif; }
        #home-bg .form-container form button[type=submit]:hover, #home-bg .form-container form input[type=submit]:hover {
          background: #000; }

@media only screen and (max-width: 768px) {
  #home-banner-2 {
    padding: 20px 30px 120px; }
    #home-banner-2 .stat-row .stat {
      font-size: 16px !important;
      width: 120px !important; }
      #home-banner-2 .stat-row .stat h4 {
        font-size: 21px; }
      #home-banner-2 .stat-row .stat h5 {
        font-size: 12px; }
    #home-banner-2 .stat-row .item {
      border-bottom: 0 !important; }
    #home-banner-2 .testimonials .slick-list {
      background-color: rgba(0, 0, 0, 0.6);
      border: none !important; }
      #home-banner-2 .testimonials .slick-list h4 {
        font-size: 21px; }
      #home-banner-2 .testimonials .slick-list p {
        font-size: 14px;
        margin-bottom: 0; }
      #home-banner-2 .testimonials .slick-list span {
        font-size: 14px; }
  .right-border {
    border-right: 1px solid #ccc; } }

.section-title {
  font-size: 60px; }

#home-banner-2 {
  background-color: #e85b40;
  min-height: 500px;
  color: #fff;
  font-size: 28px;
  background-size: cover;
  background-position: center; }
  #home-banner-2 .stat-row {
    width: 100%;
    position: relative;
    margin-bottom: 75px; }
    #home-banner-2 .stat-row .stat-right {
      float: right !important;
      clear: right !important; }
    #home-banner-2 .stat-row .stat {
      width: 250px;
      float: left;
      display: inline-block;
      text-align: left;
      clear: left;
      position: relative;
      margin-bottom: 100px; }
      #home-banner-2 .stat-row .stat .stat-content {
        position: relative;
        z-index: 2;
        line-height: 1.4; }
        #home-banner-2 .stat-row .stat .stat-content h4 {
          color: #fff;
          text-transform: uppercase;
          margin: 0;
          position: relative;
          z-index: 2;
          line-height: 1; }
        #home-banner-2 .stat-row .stat .stat-content h5 {
          font-size: 2rem;
          margin: 0 0 5px 0;
          color: #fff;
          font-family: Arial, sans-serif;
          padding: 0;
          line-height: 1; }
      #home-banner-2 .stat-row .stat:after {
        position: absolute;
        height: 50px;
        width: 50px;
        border: 2px solid #cc442a;
        z-index: 1;
        top: -20px;
        left: -20px;
        content: ''; }

.testimonials {
  clear: both; }

.slick-list {
  border-bottom: 1px solid #e48877;
  border-top: 1px solid #e48877; }
  .slick-list h4 {
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 24px; }
  .slick-list p {
    font-size: 18px;
    margin-bottom: 10px; }
  .slick-list span {
    font-size: 18px; }

#latest-news-container {
  background: #fff;
  min-height: 500px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  line-height: 0; }
  #latest-news-container .post-categories {
    margin: 0 0 10px 0;
    list-style: none; }
    #latest-news-container .post-categories li {
      padding: 0; }
      #latest-news-container .post-categories li a {
        color: #f15f43; }
        #latest-news-container .post-categories li a:hover {
          color: #000; }
  #latest-news-container .latest-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    padding: 0 0 50px 0;
    line-height: 1; }
    #latest-news-container .latest-news .flex-item {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #latest-news-container .latest-news .post-container {
      border: 1px solid #ccc;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 5%; }
      #latest-news-container .latest-news .post-container img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
      #latest-news-container .latest-news .post-container .latest-cat {
        margin: 0 0 12px 0;
        display: block; }
        #latest-news-container .latest-news .post-container .latest-cat a {
          color: #f15f43;
          text-transform: uppercase;
          display: block; }
          #latest-news-container .latest-news .post-container .latest-cat a:hover {
            color: #000; }
      #latest-news-container .latest-news .post-container .post-content {
        padding: 0 20px 20px 20px;
        margin-top: -10px; }
        #latest-news-container .latest-news .post-container .post-content h4, #latest-news-container .latest-news .post-container .post-content h4 a {
          color: #000;
          font-family: Arial, sans-serif; }
          #latest-news-container .latest-news .post-container .post-content h4:hover, #latest-news-container .latest-news .post-container .post-content h4 a:hover {
            color: #f15f43; }
        #latest-news-container .latest-news .post-container .post-content p {
          margin: 0;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          line-height: 1.25; }
        #latest-news-container .latest-news .post-container .post-content .excerpt-read-more {
          margin: 20px 0 0 0; }
          #latest-news-container .latest-news .post-container .post-content .excerpt-read-more:hover {
            color: #000; }
  #latest-news-container .section-title {
    color: #000;
    text-transform: uppercase;
    line-height: 1;
    margin-top: -15px;
    padding: 0 0 0 5%;
    display: inline-block;
    font-family: Arial, sans-serif; }
  #latest-news-container .view-more {
    color: #f15f43;
    border: 1px solid #f15f43;
    text-align: center;
    padding: 20px 25px;
    margin: 30px auto 0;
    text-transform: uppercase;
    font-family: Arial, sans-serif; }
    #latest-news-container .view-more:hover {
      color: #000;
      border: 1px solid #000; }
    #latest-news-container .view-more:after {
      font-family: 'icomoon' !important;
      content: "\ea15" !important;
      margin: 0 0 0 10px; }

#featured-media-container {
  background: #eee;
  min-height: 300px;
  position: relative; }
  #featured-media-container .section-title {
    color: #f15f43;
    text-transform: uppercase;
    line-height: 1;
    margin-top: -15px;
    display: inline-block;
    padding: 0 0 0 5%;
    font-family: Arial, sans-serif;
    position: absolute;
    z-index: 10; }

#featured-podcast-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #featured-podcast-container .podcast-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #featured-podcast-container .podcast-item a {
      margin: auto;
      display: block; }
    #featured-podcast-container .podcast-item img {
      width: 100%;
      height: auto; }
    #featured-podcast-container .podcast-item .tune-in-btn {
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      font-size: 18px;
      margin-top: 10px;
      display: block;
      clear: both; }
      #featured-podcast-container .podcast-item .tune-in-btn:hover {
        color: #000; }
      #featured-podcast-container .podcast-item .tune-in-btn:after {
        font-family: 'icomoon' !important;
        content: "\ea15" !important;
        margin: 0 0 0 10px;
        font-size: 85%; }

#featured-video-container .video-item {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  background: #555;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    #featured-video-container .video-item {
      line-height: 0;
      border-right: 0; }
      #featured-video-container .video-item .trailer {
        display: none; } }
  #featured-video-container .video-item .video-title {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: 2rem; }
  #featured-video-container .video-item video {
    height: auto;
    vertical-align: middle;
    width: 100%; }
  #featured-video-container .video-item span {
    font-size: 100px;
    position: absolute;
    z-index: 2;
    top: 32%;
    left: 0;
    right: 0;
    text-align: center; }

@media only screen and (max-width: 768px) {
  #bottom-container {
    background: none !important; }
    #bottom-container .logo {
      display: none; } }

#bottom-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px; }
  #bottom-container .bottom-title {
    max-width: 450px; }
  #bottom-container .logo {
    max-width: 200px;
    margin-bottom: 30px; }
  #bottom-container h3 {
    font-size: 30px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    text-transform: uppercase; }
  #bottom-container h4 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase; }
  #bottom-container .tune-in {
    list-style: none;
    margin: 0;
    padding: 0; }
    #bottom-container .tune-in li {
      display: inline-block;
      margin-right: 10px; }
  #bottom-container .footer-social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0; }
    #bottom-container .footer-social-links li {
      display: inline-block;
      font-size: 28px;
      padding: 0 15px 0 0; }
      #bottom-container .footer-social-links li a {
        color: #000; }
        #bottom-container .footer-social-links li a:hover {
          color: #f15f43; }

/*------------------------------------------------------------------
4.2 - About
------------------------------------------------------------------*/
.about-dsc {
  max-width: 900px;
  text-align: left;
  margin: auto;
  padding: 0 5% 10px 5%;
  margin-bottom: 40px; }
  .about-dsc h2 {
    font-size: 34px; }

.bio {
  margin-bottom: 70px;
  max-width: 1000px;
  margin: 0 auto 70px; }
  .bio .bio-info {
    width: 100%;
    padding: 20px;
    border: 1px solid #dadada; }
    .bio .bio-info .bio-name {
      font-size: 24px;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      display: inline-block; }
    .bio .bio-info .bio-title {
      display: inline-block;
      font-size: 20px; }
    .bio .bio-info .bio-desc {
      font-size: 18px;
      margin-top: 20px; }
  .bio .headshot-container {
    width: 100%;
    max-width: 370px;
    z-index: 2;
    margin: 0 auto 30px; }
    .bio .headshot-container img {
      margin-top: 30px;
      width: 100%;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); }
    .bio .headshot-container .social-links {
      text-align: center; }
      .bio .headshot-container .social-links a {
        color: #cacaca;
        margin: 0 8px;
        display: inline-block; }
        .bio .headshot-container .social-links a:hover {
          color: #f15f43; }

/*------------------------------------------------------------------
4.3 - Contact Page
------------------------------------------------------------------*/
#contact-bg {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1; }

.contact-page h1.contact-page-title {
  color: #000;
  margin-bottom: 0;
  padding: 0; }

.contact-page h2 {
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-transform: uppercase; }

.contact-page label {
  display: none !important; }

.contact-page input, .contact-page textarea {
  background-color: #b8b9b5;
  color: #fff;
  border: none; }

.contact-page article li {
  padding: 0; }

.contact-page ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .contact-page ul li {
    color: #000;
    font-size: 16px; }

.contact-page .gform_wrapper {
  margin: 0;
  padding-bottom: 30px; }
  .contact-page .gform_wrapper form input[type=text],
  .contact-page .gform_wrapper form input[type=email],
  .contact-page .gform_wrapper form textarea {
    background-color: #b8b9b5;
    border: none;
    color: #fff;
    font-size: 18px; }
    .contact-page .gform_wrapper form input[type=text]::-webkit-input-placeholder,
    .contact-page .gform_wrapper form input[type=email]::-webkit-input-placeholder,
    .contact-page .gform_wrapper form textarea::-webkit-input-placeholder {
      color: #fff; }
    .contact-page .gform_wrapper form input[type=text]:-ms-input-placeholder,
    .contact-page .gform_wrapper form input[type=email]:-ms-input-placeholder,
    .contact-page .gform_wrapper form textarea:-ms-input-placeholder {
      color: #fff; }
    .contact-page .gform_wrapper form input[type=text]::placeholder,
    .contact-page .gform_wrapper form input[type=email]::placeholder,
    .contact-page .gform_wrapper form textarea::placeholder {
      color: #fff; }
  .contact-page .gform_wrapper form input[type=submit] {
    background-color: transparent;
    border: 1px solid #f15f43;
    color: #f15f43;
    position: relative; }
  .contact-page .gform_wrapper form button.gform_button {
    padding: 15px 20px;
    font-size: 18px; }
    .contact-page .gform_wrapper form button.gform_button:hover:after {
      color: #000; }
    .contact-page .gform_wrapper form button.gform_button:after {
      font-family: 'icomoon' !important;
      content: "\ea15" !important;
      margin: 0 0 0 10px;
      font-size: 14px;
      color: #f15f43; }

/*------------------------------------------------------------------
4.4 - Events Page
------------------------------------------------------------------*/
.card-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  text-align: center; }
  .card-event .event-date, .card-event .event-button {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .card-event .event-date {
    font-size: 21px;
    color: #000;
    text-align: center;
    margin-bottom: 15px; }
  .card-event .event-title {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .card-event .event-title h3, .card-event .event-title a {
      text-align: center;
      font-size: 28px;
      color: #000;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      margin-bottom: 15px; }
  .card-event .event-button {
    text-align: center; }
    .card-event .event-button button {
      margin-top: 0;
      padding: 10px 15px;
      font-size: 14px; }
  .card-event .event-content {
    margin-top: 30px;
    display: none;
    padding: 0 0 10px 0;
    width: 100%; }
    .card-event .event-content p {
      margin-bottom: 30px; }
    .card-event .event-content .event-content-title {
      text-transform: uppercase;
      margin-bottom: 15px;
      display: block; }

.expand-btn {
  cursor: pointer; }

.rsvp-fb {
  border: 1px solid #f15f43;
  padding: 15px 20px;
  margin: 0 5px;
  display: inline-block; }
  .rsvp-fb:after {
    font-family: 'icomoon' !important;
    content: "\ea15" !important;
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #f15f43; }

.buy-tickets {
  background: #f15f43;
  color: #fff;
  padding: 15px 20px;
  margin: 0 5px;
  display: inline-block; }
  .buy-tickets:after {
    font-family: 'icomoon' !important;
    content: "\ea15" !important;
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #fff; }

/*------------------------------------------------------------------
4.5 - Podcasts Page
------------------------------------------------------------------*/
.taxonomy-dropdown {
  border: none;
  cursor: pointer; }

.card-podcast {
  border: none !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  padding-top: 15px !important; }
  .card-podcast .podcast-thumbnail {
    display: block; }
    .card-podcast .podcast-thumbnail img {
      margin-bottom: 10px; }
    .card-podcast .podcast-thumbnail iframe {
      width: 100%;
      margin-bottom: 10px; }
  .card-podcast .podcast-content {
    display: block; }
    .card-podcast .podcast-content .tune-in {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .card-podcast .podcast-content .tune-in li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 24%;
        padding: 1%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: auto; }
        .card-podcast .podcast-content .tune-in li img {
          max-height: 40px;
          width: auto; }
    .card-podcast .podcast-content h2 {
      font-size: 36px;
      font-family: Arial, sans-serif; }
    .card-podcast .podcast-content p {
      margin: 0 0 20px 0; }
    .card-podcast .podcast-content iframe {
      width: 100%; }

/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/
#page-container .single-post {
  padding-top: 40px;
  border-top: 1px solid #dadada; }

#blog-page-container {
  padding-bottom: 40px; }

.icons {
  margin-left: 5px; }

.excerpt-read-more:after {
  font-family: 'icomoon' !important;
  content: "\ea15" !important; }

/*------------------------------------------------------------------
5.1 - Single Post
------------------------------------------------------------------*/
.share-post {
  text-transform: uppercase;
  color: #ccc;
  font-family: Arial, sans-serif;
  margin-bottom: 40px;
  display: block; }
  .share-post .share-title {
    font-size: 18px;
    margin-right: 5px; }
  .share-post a {
    margin-right: 10px;
    color: #ccc; }
    .share-post a:hover {
      color: #f15f43; }

ul.post-categories {
  margin: 0;
  padding: 0; }

.single-post .entry-content p {
  line-height: 1.5; }

.single-post .post-title {
  color: #000 !important; }

.single-post ul.post-categories li {
  display: inline-block; }
  .single-post ul.post-categories li:after {
    content: ','; }
  .single-post ul.post-categories li a {
    text-transform: uppercase;
    color: #f15f43 !important;
    font-size: 21px; }

.below-content-container ol {
  margin-left: 0;
  padding-left: 0; }

/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/
.pagination {
  border-top: 0 !important;
  border-bottom: 0 !important;
  padding: 0 0 10px 0 !important; }
  .pagination .next:after {
    font-family: 'icomoon' !important;
    content: "\ea15" !important;
    vertical-align: top; }
  .pagination .prev:before {
    font-family: 'icomoon' !important;
    content: "\ea15" !important;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .pagination .prev-post a, .pagination .next-post a {
    text-transform: capitalize;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: transparent !important;
    color: #f15f43 !important; }
    .pagination .prev-post a:hover, .pagination .next-post a:hover {
      color: #000 !important; }
      .pagination .prev-post a:hover:before, .pagination .prev-post a:hover:after, .pagination .next-post a:hover:before, .pagination .next-post a:hover:after {
        color: #000 !important; }
  .pagination .prev-post {
    color: #f15f43 !important;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #f15f43; }
    .pagination .prev-post a:before {
      color: #f15f43 !important;
      font-family: 'icomoon';
      content: "\ea15" !important;
      font-size: 16px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      display: inline-block;
      margin-right: 5px; }
  .pagination .next-post {
    float: left;
    text-align: left;
    color: #f15f43 !important; }
    .pagination .next-post a:after {
      margin-left: 5px;
      color: #f15f43 !important;
      font-family: 'icomoon';
      content: "\ea15" !important;
      font-size: 16px; }

#comment-form-title, #comments {
  font-size: 21px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 10px; }

/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/
#respond input[type=text]::-webkit-input-placeholder,
#respond input[type=email]::-webkit-input-placeholder,
#respond input[type=url]::-webkit-input-placeholder,
#respond textarea::-webkit-input-placeholder {
  color: #bbb; }
#respond input[type=text]:-ms-input-placeholder,
#respond input[type=email]:-ms-input-placeholder,
#respond input[type=url]:-ms-input-placeholder,
#respond textarea:-ms-input-placeholder {
  color: #bbb; }
#respond input[type=text]::placeholder,
#respond input[type=email]::placeholder,
#respond input[type=url]::placeholder,
#respond textarea::placeholder {
  color: #bbb; }

/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px; }

@media only screen and (max-width: 768px) {
  #sticky {
    float: none;
    clear: both; } }

.popup-opt-in {
  position: fixed;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 500; }
  .popup-opt-in .close {
    margin: 20px;
    font-family: FontAwesome;
    font-size: 30px;
    top: 20px;
    right: 20px;
    position: absolute;
    color: #fff;
    background-color: #000;
    padding: 7px 12px;
    cursor: pointer; }
    .popup-opt-in .close:hover {
      color: #f15f43; }

.opt-in {
  padding: 30px 20px;
  background: #f15f43;
  color: #fff;
  font-size: 3rem;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  max-width: 500px;
  margin: auto;
  text-align: center;
  /* WebKit browsers */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10+ */ }
  .opt-in h2 {
    font-size: 4.5rem;
    color: #fff; }
  .opt-in p {
    text-transform: none; }
  .opt-in label {
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1; }
  .opt-in input::-webkit-input-placeholder {
    opacity: .7;
    font-style: italic; }
  .opt-in input:-ms-input-placeholder {
    opacity: .7;
    font-style: italic; }
  .opt-in input::placeholder {
    opacity: .7;
    font-style: italic; }
  .opt-in input:focus::-webkit-input-placeholder {
    color: transparent; }
  .opt-in input:focus:-moz-placeholder {
    color: transparent; }
  .opt-in input:focus::-moz-placeholder {
    color: transparent; }
  .opt-in input:focus:-ms-input-placeholder {
    color: transparent; }
  .opt-in input[type=text] {
    width: 100%;
    background: #ca4c34;
    color: #fff;
    border: none;
    padding: 20px 10px !important;
    margin: 15px 0 25px;
    text-align: center;
    font-size: 2.4rem;
    text-transform: none; }
    .opt-in input[type=text]::-webkit-input-placeholder {
      color: #fff; }
    .opt-in input[type=text]:-ms-input-placeholder {
      color: #fff; }
    .opt-in input[type=text]::placeholder {
      color: #fff; }
  .opt-in button, .opt-in input[type=submit] {
    background-color: #000;
    padding: 25px 20px;
    width: 100%;
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
    border: none; }
    .opt-in button:hover, .opt-in input[type=submit]:hover {
      border: none;
      color: #fff; }

.sidebar-form {
  padding: 20px;
  background: #f15f43;
  color: #fff;
  margin: 0 0 50px 0;
  font-size: 42px;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase; }
  .sidebar-form form input[type=hidden] {
    display: none; }
  .sidebar-form form input[type=text] {
    width: 100%;
    background: #ca4c34;
    color: #fff;
    border: none;
    padding: 25px 20px !important;
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    text-transform: none; }
    .sidebar-form form input[type=text]::-webkit-input-placeholder {
      color: #fff; }
    .sidebar-form form input[type=text]:-ms-input-placeholder {
      color: #fff; }
    .sidebar-form form input[type=text]::placeholder {
      color: #fff; }
  .sidebar-form form button, .sidebar-form form input[type=submit] {
    background-color: #000;
    padding: 25px 20px;
    width: 100%;
    color: #fff;
    font-size: 24px; }

/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: none; }

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 14px; }

.woocommerce ul.products li.product .price {
  font-size: 16px;
  color: #000; }

.woocommerce section.related {
  display: none; }

.woocommerce select {
  border: none; }

.woocommerce .woocommerce-result-count {
  display: none; }

.woocommerce ul.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .woocommerce ul.products:before, .woocommerce ul.products:after {
    width: 100%;
    content: '' !important; }
  .woocommerce ul.products li.product {
    border: 1px solid #dbdbdb;
    padding: 20px;
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%; }
  .woocommerce ul.products img {
    margin: -20px -20px 0 -20px !important;
    width: calc(100% + 40px) !important;
    max-width: calc(100% + 40px) !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  .woocommerce ul.products .add_to_cart_button {
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    color: #f15f43;
    font-size: 18px; }
    .woocommerce ul.products .add_to_cart_button:hover {
      color: #000; }
  .woocommerce ul.products:after {
    display: inline-block;
    content: '+';
    padding-left: 5px;
    margin-top: 5px; }

.single-product #inner-page-container {
  border-top: 1px solid #dadada;
  padding: 40px 0 30px 0; }

.single-product h1 {
  font-size: 40px;
  line-height: 1.1;
  color: #000; }

.single-product figure {
  margin: 0; }

.single-product p.price {
  color: #000 !important;
  font-size: 24px !important; }

.single-product .qty {
  padding: 12px;
  margin-right: 20px; }

.single-product .single_add_to_cart_button.button.alt {
  border: 1px solid #f15f43;
  color: #f15f43;
  background: #fff;
  padding: 14px 14px 14px 25px; }
  .single-product .single_add_to_cart_button.button.alt:after {
    font-family: 'icomoon' !important;
    content: "\ea15" !important;
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #f15f43; }
  .single-product .single_add_to_cart_button.button.alt:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000; }
    .single-product .single_add_to_cart_button.button.alt:hover:after {
      color: #000; }

.woocommerce div.product .woocommerce-tabs .panel h2 {
  display: none; }

/*
TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 768px) {
  /*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Tablet & Small Desktop Stylesheet
(Screens Sizes 768px and Up)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Banners
	4.1 - Homepage
	4.2 - About
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce

******************************************************************/
  .flyout-menu-container ul li a {
    font-size: 60px !important; }
  .flyout-menu-container .social-links {
    text-align: right;
    right: 3%;
    width: auto; }
    .flyout-menu-container .social-links li {
      margin: 0 0 0 25px; }
  /*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/
  h1.page-title {
    font-size: 80px; }
  h1.page-title-v2 {
    font-size: 100px; }
  .page-sub-title {
    font-size: 36px;
    margin: 20px 0 30px 0; }
  /*------------------------------------------------------------------
4.1 - Homepage
------------------------------------------------------------------*/
  .mobile-bg {
    display: none !important; }
  #home-bg {
    margin-top: -150px;
    width: 100%;
    position: relative;
    padding: 175px 0 150px 0;
    min-height: calc(100vh + 150px); }
    #home-bg .left-side {
      width: 34%;
      display: inline-block;
      margin-right: 5%; }
    #home-bg .info-bar {
      padding: 5px 20px;
      float: right;
      position: absolute;
      right: 0;
      bottom: 175px; }
    #home-bg .form-container {
      background-color: rgba(50, 50, 50, 0.8);
      padding: 25px 10%;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
      #home-bg .form-container span {
        float: left; }
  .section-title {
    font-size: 100px; }
  #home-banner-2 {
    min-height: 100vh;
    padding: 80px 30px 120px; }
    #home-banner-2 .stat h4 {
      font-size: 3rem; }
    #home-banner-2 .stat-right {
      width: 180px !important; }
  .latest-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative; }
    .latest-news .flex-item {
      -webkit-flex-basis: 33.333% !important;
      -ms-flex-preferred-size: 33.333% !important;
      flex-basis: 33.333% !important;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  /******************************
//Home featured media section
******************************/
  #featured-media-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #featured-video-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
    #featured-video-container .video-item {
      border-right: 1px solid #111;
      border-bottom: 1px solid #111;
      background: #555;
      position: relative;
      overflow: hidden;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
      #featured-video-container .video-item .mobile-thumb {
        display: none; }
      #featured-video-container .video-item video {
        height: auto;
        vertical-align: middle;
        width: 100%; }
      #featured-video-container .video-item span {
        font-size: 100px;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center; }
  .card-podcast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .podcast-thumbnail {
    padding-right: 30px; }
  #featured-podcast-container {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #featured-podcast-container .podcast-item {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      border-bottom: 1px solid #111;
      text-align: center;
      padding: 5% 10%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #featured-podcast-container .podcast-item img {
        width: 100%;
        height: auto; }
      #featured-podcast-container .podcast-item .tune-in-btn {
        font-size: 18px;
        margin-top: 10px; }
        #featured-podcast-container .podcast-item .tune-in-btn:after {
          margin: 0 0 0 10px; }
  /*------------------------------------------------------------------
4.2 - About
------------------------------------------------------------------*/
  .about-dsc {
    margin-bottom: 60px; }
    .about-dsc h2 {
      font-size: 56px; }
  .flip-bio {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
    .flip-bio .bio-info {
      padding: 30px 80px 30px 30px !important;
      margin-right: -50px;
      margin-left: 0 !important; }
  .bio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .bio-info {
    -webkit-flex-basis: calc(60% + 50px);
    -ms-flex-preferred-size: calc(60% + 50px);
    flex-basis: calc(60% + 50px);
    padding: 30px 30px 30px 80px !important;
    margin-left: -50px;
    z-index: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .bio-info .bio-name {
      font-size: 24px;
      display: inline-block; }
    .bio-info .bio-title {
      display: inline-block;
      font-size: 20px; }
    .bio-info .bio-desc {
      font-size: 18px;
      margin-top: 20px; }
  .headshot-container {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 370px;
    z-index: 2; }
    .headshot-container img {
      margin-top: 30px; }
  /*------------------------------------------------------------------
4.4 - Events Page
------------------------------------------------------------------*/
  .card-event {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center; }
    .card-event .event-date, .card-event .event-button {
      -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
    .card-event .event-date {
      font-size: 24px;
      text-align: left;
      margin-bottom: 0; }
    .card-event .event-title {
      -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
      .card-event .event-title h3, .card-event .event-title a {
        font-size: 36px;
        margin-bottom: 0; }
    .card-event .event-button {
      text-align: right; }
      .card-event .event-button button {
        margin-top: 0;
        padding: 20px 25px;
        font-size: 16px; }
    .card-event .event-content {
      margin-top: 30px;
      display: none;
      padding: 0 0 10px 0;
      width: 100%; }
      .card-event .event-content p {
        margin-bottom: 30px; }
      .card-event .event-content .event-content-title {
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block; }
  /*------------------------------------------------------------------
4.5 - Podcasts Page
------------------------------------------------------------------*/
  .card-podcast .podcast-thumbnail {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: ''; }
  .card-podcast .podcast-content {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  #sidebar1 {
    padding-left: 30px; }
  /*------------------------------------------------------------------
11.0 - woocommerce
------------------------------------------------------------------*/
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 24px; }
  div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: right;
    float: right;
    width: 48%; }
  ul.products li.product {
    -webkit-flex-basis: 22.05% !important;
    -ms-flex-preferred-size: 22.05% !important;
    flex-basis: 22.05% !important; } }

/*
DESKTOP
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Developed by:
URL:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Main Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer

******************************************************************/ }

@media only screen and (min-width: 1240px) {
  /******************************************************************
Developed by:
URL:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
  3.2 - Main Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer

******************************************************************/
  /*------------------------------------------------------------------
3.2 - Main Navigation
------------------------------------------------------------------*/
  .main-menu-container {
    visibility: visible; } }
