/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Base Mobile Stylesheet
Keep it simple, this loads on phones :)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links & Buttons
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce


/*------------------------------------------------------------------
1.0 - General Style
------------------------------------------------------------------*/
html {
  font-size: 62.5%; //Fallback font-size also sets 10px = 1rem (ex. 16px = 1.6rem)
  @include fluid-type($min_width, $max_width, 8px, 10px); //Sets 10px = 1rem (ex. 16px = 1.6rem)
}
html,
body {
  font-weight: normal;
  line-height: 1.25;
  color: #565656;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  background-color: #fff;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: none;
}

p,
ul,
ol,
select {
  font-size: 1.8rem;
  line-height: 1.4;
}

p {
  margin: 0 0 30px 0;
}

ul {
  margin: 0 0 20px 10px;
  list-style: circle;

  li {
    padding: 0 0 15px 0;
    color: $primary-color;
  }
}

ol {
  margin: 0 0 20px 0;
  list-style: decimal;

  li {
    padding: 0 0 15px 0;
  }
}

ul.clearfix {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

img {
  max-width: 100% !important;
  height: auto;
}

.center {
  text-align: center;
}

select {
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
  padding: 5px 28px 5px 5px;

  option {
    background-color: transparent !important;
    appearance: none;
  }
}

.select-wrap {
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .select-wrap,
  .woocommerce-ordering {
    select {
      width: 100%;
      vertical-align: middle;
    }
    width: 100%;
    clear: both;
  }
}
.select-wrap,
.woocommerce-ordering {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  float: left;
  zoom: 1;
  *display: inline;
  border: 1px solid #eee;
  margin-bottom: 10px;

  &:after {
    content: '\f107';
    font-family: FontAwesome;
    color: #000;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 1;
    padding: 3px 5px;
    text-align: center;
    width: auto;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

/*------------------------------------------------------------------
1.1 - Links & Buttons
------------------------------------------------------------------*/

a {
  color: $link-color;
  font-weight: normal;
  text-decoration: none;
  outline: 0;
  transition: 0.2s ease-in-out;

  &:after {
    display: inline-block;
    margin-left: 5px;
    font-size: 85%;
  }

  &:before {
    display: inline-block;
    margin-right: 5px;
    font-size: 85%;
  }

  /* on hover */
  &:hover,
  &:focus {
    color: $link-hover;
    outline: 0;
  }

  /* on click */
  &:active {
    color: $link-hover;
  }

  /* mobile tap color */
  &:link {
  }
}

//Buttons
button {
  font-size: 1.8rem;
  border: 1px solid $link-color;
  color: $link-color;
  text-align: center;
  padding: 20px 25px;
  margin: 30px auto 0;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:after {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    color: #000;
    border: 1px solid #000;
  }
  span {
    margin-left: 3px;
    font-size: 85%;
  }
}

.close-btn {
  content: '\f00d';
  font-family: FontAwesome;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #000;
  padding: 7px 12px;
  cursor: pointer;
  z-index: 600;

  &:hover {
    color: $link-color;
  }
}

/*------------------------------------------------------------------
1.2 - Headings
------------------------------------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  margin: 0 0 15px 0;
  color: #000;
  line-height: 1.2;

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-hover;
    }
  }
}

h1,
.h1 {
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-color;
  padding: 0 0;
  margin: 0 0 15px 0;

  a {
  }
}

h2,
.h2 {
  font-size: 4.8rem;
  text-transform: capitalize;
}

h3,
.h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin: 0 0 15px 0;
}

h4,
.h4 {
  font-size: 2.2rem;
}

h5,
.h5 {
  font-size: 2rem;
}

h6,
.h6 {
  font-size: 2rem;
}

/*------------------------------------------------------------------
2.0 - Layout & Grid
------------------------------------------------------------------*/

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.page{
  width: auto; /*prevents text from overflowing screen width*/
  flex: 1 0 auto; //flexable sticky footer ...no fixed height needed :)
  background-size: cover;
  background-repeat: no-repeat;
}

.page article.page, body.page{
  padding-top: 0;
}

//Responsive video and popup-video
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex !important; //toggle with jquery to display popup container
}

.popup-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  width: 100%;
  display: none;

  .video-wrapper {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    z-index: 101;
  }
}

/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/

header {
  [class*='col-'] {
    padding-bottom: 1rem ;
    flex-direction: column;
  }
  ul {
    list-style: none;
    li {
      padding: 0;
    }
  }
  img {
    width: 100%;
  }
}

.header {
  padding: 20px 0 10px 0;
  width: 100%;
  z-index: 400;
  position: relative;
  background: transparent;

  img {
    width: auto;
  }

  .header--left, .header--right{
    flex-basis:auto !important;
    justify-content: space-between;
  }


  .logo {
    min-width: 106px;
    height: auto;
    display: inline-block;
    margin: auto;
    transition: 0.2s linear;
    position: relative;
    vertical-align: top;

    a {
      display: inline-block;
      width: 100%;
    }

    &:hover {
    }
  }

  .mobile-logo {
    width: 150px;
    img {
      width: 150px !important;
    }
  }
}

/*------------------------------------------------------------------
3.1 - Login
------------------------------------------------------------------*/

.login-container {
  form {
    p {
      display: inline-block;
      margin: 0 0 10px 10px;
      input {
        width: 120px;
        padding: 5px;
        color: #555;
      }
      input[type='submit'] {
        margin: 0;
        padding: 8px 15px;
        width: auto;
      }
    }
  }
}

.welcome-text {
  color: #444;
  line-height: 1 !important;
  float: left;
  margin-top: 10px;
  margin-right: 12px;
}

#logged-in-user-container {
  float: right;

  #logged-in-user-avatar {
    float: right;
    display: inline-block;
    margin-right: 5px;

    img {
      border-radius: 50%;
    }
  }
  .logged-in-user-menu-btn {
    &:before {
      content: '+';
    }
    color: #444;
    font-size: 4rem;
    display: block;
    float: right;
    line-height: 0.9;
    cursor: pointer;
    margin-right: 0;
  }
  .active {
    &:before {
      content: 'x';
      font-size: 4rem;
      line-height: 0.25 !important;
    }
  }
}

.login-btn {
  display: block;
  padding: 5px 10px;
  color: $link-color;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.6rem;
  &:hover {
    background-color: $link-hover;
    color: #fff !important;
    border: solid 1px transparent;
  }
}

#logged-in-user-menu-container {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #444;
  color: #fff;
  padding: 20px 30px;
  z-index: -1;
  height: 100vh;
  margin-right: -300px;
  text-align: left;

  .welcome-text {
    border-bottom: 1px solid #333;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
  }

  .log-out-container {
    clear: both;
  }
}

/*------------------------------------------------------------------
3.2 - Navigation
------------------------------------------------------------------*/

.main-menu-container {
  transition: 0.2s linear;
  a {
    font-size: 1.6rem;
  }
} //end main menu container

@media only screen and (max-width: 768px) {
  .main-menu-container {
    display: none !important;
  } //end main menu container
}

button.account-icon{
  color: #fff;
  padding: 0;
  margin:0;
  border: none;
  z-index: 100;
  position: relative;
}

.hamburger-icon {
  margin: 5px 0 0 20px;
  display: inline-block;
  height: auto;
  position: relative;
  padding: 0;
  z-index: 100;

  button {
    float: right;
    color: #999;
    line-height: 0;
    width: 35px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;

    &:hover {
      #nav-icon span {
        background: $link-color;
      }
    }
  }
} //end menu btn container

#nav-icon {
  width: 32px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    span {
      background: $link-color;
    }
  }
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon.open{
  span{
    background: #fff;
  }
  &:hover {
    span {
      background: $link-color;
    }
  }
}

#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}
#nav-icon span:nth-child(4) {
  top: 18px;
}
#nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.hide{
  display: none;
}
.hide-left {
  transform: translateX(-100%) !important;
  transition: 0.2s transform;
}
.hide-right {
  transform: translateX(100%) !important;
  transition: 0.2s transform;
}

.flyout-menu--left{
  left: 0;
  transform: translateX(0);
  a{
    text-align: left !important;
  }
}
.flyout-menu--right{
  right: 0;
  a{
    text-align: right !important;
  }
}
.flyout-menu {
  background-color: #333;
  margin-left: 0px;
  position: fixed;
  bottom: 0;
  height: 100vh;
  border-left: #111 1px solid;
  padding-top: 100px;
  max-width: 100%;
  width: 100%;
  transition: 0.2s transform;
  z-index: 10;
  overflow-y: auto;

  button {
    background: transparent;
    float: right;
    padding: 20px;
    font-size: 2.8rem;
    color: #777;
  }

  ul {
    margin: 0;

    li {
      width: 100%;
      display: inline-block;

      a {
        width: auto;
        text-align: center;
        display: inline-block;
        padding: 25px;
        color: #777;
        font-size: 20px; //Don't set to rems
        text-transform: uppercase;

        &:hover {
          color: #fff;
        }
      }
    }
  } // flyout menu ul
} //end flyout menu container

/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/

//This page title applies default pages
h1.masthead--title {
}
//Default title styling on archive pages
.page-sub-title {
}
//Default banner styling on archive pages
.page-banner {
}

//Used on archive pages and excerpt containers
[class*='card-'] {
  border: 1px solid #dadada;
  padding: 30px;
  margin-bottom: 30px;
}

/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/

#blog-page-container {
  background-color: #fff;
  margin-top: -25px;
}

.blog-content-container {
  background-color: #fff;
  padding: 20px 0 0 0;
}

section {
  margin: 0 0 20px 0;
}

.blog-title-container {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;

  .blog-line {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    color: #dadada;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dadada;
    z-index: -1;
  }

  .blog-title {
    padding: 0 30px;
    margin: 0;
    background-color: #fff;
    width: auto;
    display: inline-block;
  }
}

.category-links {
  margin: 10px 0;
  list-style: none;
  a {
    color: $link-color;
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      color: #000;
    }
  }
}

.avatar {
  margin-bottom: 20px;
}

.author-link {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.article-footer {
  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
    li {
      display: inline-block;
    }
  }
}

.excerpt-read-more {
  clear: both;
  display: block;
  margin: 20px 0;
  color: $link-color;
  text-transform: uppercase;
  width: max-content;

  &:after {
    content: '\f138';
    font-family: 'FontAwesome';
  }
}

.post-container {
  img {
    width: 100%;
    height: auto;
  }
}

.addthis_button_compact {
  i {
    color: #474747;
  }
}

.post-categories {
  a {
    color: #999;
  }
}

.post-excerpt-container {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 30px;
  position: relative;

  h2 {
    font-size: 5.6rem;
  }

  h2,
  h2 a {
    margin: 0 0 5px 0;
    color: #000;
    line-height: 1;
    text-transform: uppercase;

    &:hover {
      color: #555;
    }
  } //h2 a

  section,
  a {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.thumbnail-link {
  display: block;
  line-height: 0;
  max-height: 550px;
  overflow: hidden;
  position: relative;

  .overlay {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1;
    transition: 0.3s linear;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;

    button {
      color: #fff;
      border: 1px solid #fff;
      margin: 0 auto;
      width: 85%;
      height: 80%;
      text-align: center;
    }
  }

  img {
    width: 100%;
  }

  &:hover {
    .overlay {
      opacity: 0.8;
    }
  }
}

.share-container {
  text-align: right;
  float: right;
  margin: 0 0 10px 0;
  position: absolute;
  right: 30px;

  .share-title {
    text-transform: uppercase;
    color: #dadada;
    font-size: 2.4rem;
    margin-right: 5px;
  }

  .icons {
    font-size: 2rem;
    color: #dadada;
    &:hover {
      color: $link-color;
    }
  }
}

.date-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #dadada;
  font-size: 2rem;
}

/*------------------------------------------------------------------
5.1 - Single Posts
------------------------------------------------------------------*/

.single-post {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.6rem;
    text-transform: capitalize;
  }
  .article-header {
    &:after {
      content: '';
      display: block;
      width: 85px;
      bottom: -5px;
      left: 0px;
      border: 1px solid #a3a3a3;
      margin: 15px 0 10px 0;
    }
  }
}

.single-featured-image-container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 0 30px 0;
  background-size: cover;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    padding: 150px;
    color: #fff;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(100, 100, 100, 0.5);
  }
}

p.tags {
  margin-bottom: 75px;
  font-size: 1.6rem;
  font-style: italic;
}

#content {
  margin: 0;
}

/* post meta */
.byline {
  color: #999;
}

/* entry content */
.entry-content {
  dd {
    margin-left: 0;
    color: #787878;
  }

  img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto;
  }

  video,
  object {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px;
  }

  ul,
  ol {
    margin: 0 0 20px 0;
    li {
      color: #000;
      font-size: 1.6rem;
    }
  }
} /* end .entry-content */

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;

  /* images inside wp-caption */
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    margin: 4px 0 7px;
    text-align: center;
  }
} /* end .wp-caption */

/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/

.single-pagination {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px dotted #ccc;
}

.pagination {
  margin: 0 0 50px 0;
  font-size: 1.8rem;
  clear: both;
  text-transform: uppercase;
  text-align: center;

  a {
    &:hover {
      color: $link-hover !important;
    }
  }

  .next,
  .prev {
    i {
      font-family: FontAwesome;
      font-style: normal;
      line-height: 1;
    }
  }

  .next {
    &:after {
      content: '\f138';
      font-family: 'FontAwesome';
      font-style: normal;
      display: block;
      float: right;
      margin-left: 5px;
    }
  }

  .prev {
    &:before {
      content: '\f137';
      font-family: 'FontAwesome';
      font-style: normal;
      display: block;
      float: left;
      margin-right: 5px;
    }
  }

  a {
    color: $link-color;
    display: inline-block;
    font-weight: 400;
  }
  a.current {
    color: #474747;
  }

  .page-numbers {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
  }

  .screen-reader-text {
    display: none;
  }
}

.next-post span {
  color: #fff;
  font-size: 1.8rem;
  float: right;
  margin-top: 0 !important;

  &:after {
    font-family: 'FontAwesome';
    content: '\f0da';
    color: #fff;
    display: inline-block;
    margin-left: 15px;
  }
}

.prev-post span {
  color: #fff;
  font-size: 1.8rem;
  float: left;
  margin-top: 0 !important;

  &:before {
    font-family: 'FontAwesome';
    content: '\f0d9';
    color: #fff;
    display: inline-block;
    margin-right: 15px;
  }
}

.next,
.prev-post,
.next-post {
  text-align: center;
  display: inline-block;

  a {
    background-color: #474747;
    color: #fff;
    padding: 15px 20px;
  }

  &:hover {
    a {
      color: #fff;
      background-color: $link-color;
    }
  }
}

.prev-post {
  float: left;

  i {
    margin-right: 10px;
  }
}

.next-post {
  float: right;

  i {
    margin-left: 10px;
  }
}

.pagination,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* fallback previous & next links */
.wp-prev-next {
  .prev-link {
    float: left;
  }

  .next-link {
    float: right;
  }
} /* end .wp-prev-next */

/*------------------------------------------------------------------
6.0 - Forms
------------------------------------------------------------------*/

form {
  padding: 0 !important;

  li {
    padding: 0;
  }

  label {
    color: #555;
    text-shadow: none;
    font-weight: normal;
  }

  input[type='text'],
  input[type='email'],
  input[type='url'],
  textarea {
    padding: 10px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    width: 100% !important;
    display: block;
    font-size: 1.8rem !important;
  }
}

input[type='submit'] {
  background-color: $link-color;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 25px;
  cursor: pointer;
}

input[type='search'] {
  box-sizing: border-box;
}

.widget_search label {
  display: none;
}

//Gravity forms default theme styling
.gform_wrapper {
  margin: 0;
  padding-bottom: 30px;

  form {
    textarea {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #555;
    }
  }

  ul {
    list-style: none;
    margin-left: 20px;
  }

  button.gform_button {
    margin: 0 auto;
  }
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}

//End gravity forms style

.search-form {
  display: flex;
  flex-direction: row;

  label {
    display: none;
  }

  input {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: 1px solid #ddd;
    border-right: 0;
    padding: 10px 15px;
  }

  button {
    background: #555;
    color: white;
    margin: 0;
    transition: 0.2s ease-in-out;
    border: none;
    padding: 15px 20px;

    [class*='icon-'] {
      font-size: 1.8rem;
    }

    &:hover {
      background: $link-color;
      border: none;
    }
  }
}

/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/

h3#comments {
  margin-top: 30px;
}

.commentlist {
  li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;

    &:last-child {
      margin-bottom: 0;
    }

    ul.children {
      margin: 0;
    } /* end .commentlist li ul.children */
  }

  li[class*='depth-'] {
    margin-top: 1.1em;
  }

  li.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0;
  }

  /* general comment classes */
  .odd {
    background: #eee;
  }
  .even {
    background: #fefefe;
  }

  /* vcard */
  .vcard {
    margin-left: 50px;

    cite.fn {
      font-weight: 700;
      font-style: normal;

      a.url {
      }
    }

    time {
      float: right;

      a {
        color: #999;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    img.photo {
    }

    img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff;
      width: auto;
    }
  } /* end .commentlist .vcard */

  /* comment content */
  .comment_content {
    margin-left: 50px;

    p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em;
    }
  } /* end .commentlist .comment_content */

  /* comment reply link */
  .comment-reply-link {
    text-decoration: none;
    float: right;
    background: $primary-color;
    padding: 3px 5px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em;

    &:hover,
    &:focus {
      opacity: 1;
    }
  } /* end .commentlist .comment-reply-link */
} /* end .commentlist */

.respond-form {
  background-color: #fff;

  .alert-info {
    display: none;
  }

  form {
    margin: 0.75em 0;

    li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em;

      label,
      small {
        display: none;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='url'],
    textarea {
      padding: 3px 6px;
      background: #fff;
      border: 1px solid #ddd;
      line-height: 1.5em;

      &:focus {
        background: #fff;
      }

      &::placeholder {
        color: #bbb;
      }

      /* form validation */
      &:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='url'] {
      max-width: 400px;
      min-width: 250px;
    }

    textarea {
      resize: none;
      width: 97.3%;
      height: 150px;
    }
  }
}

/* comment form title */
#comment-form-title {
  margin-top: 0;
}

/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}

/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/

.widget {
  ul {
    margin: 0;
  }
  a {
    color: #555;
    &:hover {
      color: $link-hover;
    }
  }
}

.widget_search {
  margin-bottom: 20px;
  input {
    padding: 10px;
    max-width: 100%;
  }
}

/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/

.footer {
  clear: both;
  z-index: 200;
  padding: 10px 0;
  background-color: $primary-color;
  color: $white;
  text-align: center;
  flex-shrink: 0;

  span {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
  }

  .row {
    margin-bottom: 0 !important;
  }

  a {
    color: #fff;
    outline: 0;

    &:hover {
      color: #fff;
    }
  }

  .footer-meta-data {
    padding: 15px 0;

    .footer-title {
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
    }
  }

  .menu-container {
    margin: 0 0 20px 0;
    background-color: #333;

    span {
      color: #aaa !important;
    }

    li {
      padding: 0 0 0 20px;

      a {
        color: #ccc;
        font-size: 1.4rem;
        padding: 15px 0;
        display: inline-block;
      }
    }
  }

  ul.footer-menu {
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0 !important;

    li {
      display: inline-block;
      text-align: center;
      padding: 0;

      a {
        padding: 0 10px;
        border-top: none;

        &:hover {
          border-top: none;
        }
      }
    }
  }

  .copyright {
    text-transform: capitalize;
    text-align: center;
    display: block;

    a {
    }
  }
}

/*------------------------------------------------------------------
10.0 - Visual Composer
------------------------------------------------------------------*/

.dslc-modules-section {
  padding-left: 30px;
  padding-right: 30px;
}

.top-icon a {
  .dslc-icon {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
  }
}

.headshot {
  width: 80%;
  margin: auto;
  display: block;
  float: none;
}

.headshot .dslc-image,
.headshot img {
  border-radius: 50% !important;
}

.dslc-widget {
  ul {
    li {
      list-style: none;
      padding: 10px 15px;
      background-color: $riz3-dark-grey;
    }
  }
}


//Slick slider
.slick-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-arrow {
    background-color: #000;
    border: 0;
    color: #fff;
    font-size: 0;
    line-height: 0;
    flex: 1;
    display: flex !important;
    align-items: center;
    margin: 0;
    padding: 20px 15px;

    &:before {
      font-size: 2.8rem;
      font-family: 'FontAwesome';
    }
  }
  .slick-next:before {
    content: '\f0da';
  }
  .slick-prev:before {
    content: '\f0d9';
  }
}

.stat-slider {
  display: block !important;
  .slick-list {
    border: none !important;
    text-align: center;
  }
}

ul.slick-dots {
  clear: both;
  width: 100%;
  display: block;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover {
        &:before {
          color: #fff;
        }
      }

      &:before {
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        color: black;
      }
    }
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  padding: 20px;
  height: 100%;
  min-height: 1px;
  [dir='rtl'] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
