/******************************************************************
Developed by:
URL:

Stylesheet: Grid Stylesheet (appends to _grid_base.scss)

Mutliple column choices are available based on fractions.
You can reduce your fractions or not, the choice is yours.
Don't need all the grids? Just delete them :)
******************************************************************/

[class*='col-'] {
  float: left;
}

/* 1 column grid */
.col-full {
  width: 97.5%;
}

/* 2 column grid */
.col-1-2 {
  width: 47.5%;
}

.offset-1-2 {
  margin-left: 52.5%;
}

/* 3 column grid */
.col-1-3 {
  width: 30.83333%;
}
.col-2-3 {
  width: 64.16666%;
}

.offset-1-3 {
  margin-left: 35.83333%;
}
.offset-2-3 {
  margin-left: 69.16666%;
}

/* 4 column grid */
.col-1-4 {
  width: 22.5%;
}
.col-2-4 {
  width: 47.5%;
}
.col-3-4 {
  width: 72.5%;
}

.offset-1-4 {
  margin-left: 27.5%;
}
.offset-2-4 {
  margin-left: 52.5%;
}
.offset-3-4 {
  margin-left: 77.5%;
}

/* 5 column grid */
.col-1-5 {
  width: 17.5%;
}
.col-2-5 {
  width: 37.5%;
}
.col-3-5 {
  width: 57.5%;
}
.col-4-5 {
  width: 77.5%;
}

.offset-1-5 {
  margin-left: 22.5%;
}
.offset-2-5 {
  margin-left: 42.5%;
}
.offset-3-5 {
  margin-left: 62.5%;
}
.offset-4-5 {
  margin-left: 82.5%;
}

/* 6 column grid */
.col-1-6 {
  width: 14.16666%;
}
.col-2-6 {
  width: 30.83333%;
}
.col-3-6 {
  width: 47.5%;
}
.col-4-6 {
  width: 64.16666%;
}
.col-5-6 {
  width: 80.83333%;
}

.offset-1-6 {
  margin-left: 19.16666%;
}
.offset-2-6 {
  margin-left: 35.83333%;
}
.offset-3-6 {
  margin-left: 52.5%;
}
.offset-4-6 {
  margin-left: 69.16666%;
}
.offset-5-6 {
  margin-left: 85.83333%;
}

/* 12 column grid */
.col-1-12 {
  width: 5.83333%;
}
.col-2-12 {
  width: 14.16666%;
}
.col-3-12 {
  width: 22.5%;
}
.col-4-12 {
  width: 30.83333%;
}
.col-5-12 {
  width: 39.16666%;
}
.col-6-12 {
  width: 47.5%;
}
.col-7-12 {
  width: 55.83333%;
}
.col-8-12 {
  width: 64.16666%;
}
.col-9-12 {
  width: 72.5%;
}
.col-10-12 {
  width: 80.83333%;
}
.col-11-12 {
  width: 89.16666%;
}

.offset-1-12 {
  margin-left: 10.83333%;
}
.offset-2-12 {
  margin-left: 19.16666%;
}
.offset-3-12 {
  margin-left: 27.5%;
}
.offset-4-12 {
  margin-left: 35.83333%;
}
.offset-5-12 {
  margin-left: 44.16666%;
}
.offset-6-12 {
  margin-left: 52.5%;
}
.offset-7-12 {
  margin-left: 60.83333%;
}
.offset-8-12 {
  margin-left: 69.16666%;
}
.offset-9-12 {
  margin-left: 77.5%;
}
.offset-10-12 {
  margin-left: 85.83333%;
}
.offset-11-12 {
  margin-left: 94.16666%;
}
