/******************************************************************
Developed by:
URL:

Stylesheet: Woocommerce Stylesheet
******************************************************************/

/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
  margin-left: 0 !important;
}

.woocommerce span.onsale {
  background-color: $link-color;
}

.woocommerce-info,
.woocommerce-message {
  border-top-color: $link-color;
}

.woocommerce-info::before {
  color: $link-color;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: $link-color;
}

//Cart page
.coupon {
  text-align: center;
  max-width: 100%;
  position: relative;

  input[type='text'] {
    width: auto !important;
    font-size: 1.6rem !important;
    padding: 10px 15px !important;
    width: 48% !important;
    display: inline-block;
    float: left;
  }
  input[type='submit'] {
    font-size: 1.4rem;
    padding: 13px 15px;
    width: 50%;
    display: inline-block;
    float: left;
  }
}

.cart_totals {
  h2 {
    font-size: 2.8rem;
    text-align: right;
  }
}

//End cart page

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $link-color;
  &:hover {
    background-color: $link-hover;
  }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  border-radius: 0;
}

.woocommerce table.shop_table {
  border-radius: 0;
}

.product_title {
  font-size: 5.4rem;
  text-transform: capitalize;
  line-height: 1.1;
}

.cart-contents {
  position: relative;
  margin: -7px 0 0 20px;

  .cart-contents-count {
    border-radius: 50%;
    background: $link-color;
    padding: 3px;
    color: #fff;
    font-size: 10px;
    width: 20px;
    display: block;
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  i {
    font-size: 28px;
    margin-top: 8px;
    margin-right: 8px;
    display: block;
    z-index: 0;
    position: relative;
    color: #000;
    &:hover {
      color: $link-color;
    }
  }
}

.woocommerce button.button,
.woocommerce button.button.alt {
  background-color: $link-color;
  border-radius: 0;
  padding: 14px;

  &:hover {
    background-color: $link-hover;
  }
}
