@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'EurostileCondensed-Regular';
	src: url('EurostileCondensed-Regular.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'EurostileCondensed-Regular';
	src: url(//:) format('no404'), url('EurostileCondensed-Regular.woff') format('woff'), url('EurostileCondensed-Regular.ttf') format('truetype'), url('EurostileCondensed-Regular.svg#webfontMH9QH9tc') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'EurostileCondensed-Bold';
	src: url('EurostileCondensed-Bold.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'EurostileCondensed-Bold';
	src: url(//:) format('no404'), url('EurostileCondensed-Bold.woff') format('woff'), url('EurostileCondensed-Bold.ttf') format('truetype'), url('EurostileCondensed-Bold.svg#webfontZ6etP9ZY') format('svg');
	font-weight: normal;
	font-style: normal;
}
