@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1j7396');
  src:  url('fonts/icomoon.eot?1j7396#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1j7396') format('truetype'),
    url('fonts/icomoon.woff?1j7396') format('woff'),
    url('fonts/icomoon.svg?1j7396#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\e904";
  color: #fff;
}
.icon-play-large-circle:before {
  content: "\e901";
  color: #fff;
}
.icon-caret-left:before {
  content: "\e902";
}
.icon-caret-right:before {
  content: "\e903";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-paypal:before {
  content: "\ead8";
}
