/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Tablet & Small Desktop Stylesheet
(Screens Sizes 768px and Up)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Banners
	4.1 - Homepage
	4.2 - About
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce

******************************************************************/
.main-menu-container li a {
  color: #fff !important;
}

.flyout-menu-container {
  ul li {
    a {
      font-size: 60px !important;
    }
  }
  .social-links {
    text-align: right;
    right: 3%;
    width: auto;

    li {
      margin: 0 0 0 25px;
    }
  }
}

/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/

//Blog
#sidebar1 {
  padding-left: 30px;
}

/*------------------------------------------------------------------
4.1 - Homepage
------------------------------------------------------------------*/



/*------------------------------------------------------------------
4.2 - About
------------------------------------------------------------------*/


/*------------------------------------------------------------------
11.0 - woocommerce
------------------------------------------------------------------*/
