/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Base Mobile Stylesheet
------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
  3.2 - Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Player Profile
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce

******************************************************************/

html,
body {
  font-family: $sans-serif;
  background-color: #000 !important;
}

strong {
  font-family: $sans-serif-bold;
}

/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: normal !important;
}


/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/

.header{
  position: absolute !important;
}

.fixed-social{
  position: fixed;
  top: 5rem;
  left: 3rem;
  color: #fff;

  .fixed-social--title{
    transform: rotate(90deg);
    display: block;
    text-transform: uppercase;
    font-family: $sans-serif-bold;
  }
}

.main-menu-container{
  float: right !important;
  a{
    font-family: $sans-serif-bold;
  }
}

/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/


/*------------------------------------------------------------------
4.1 - Homepage
------------------------------------------------------------------*/

#home-hero{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  padding: 160px 0;
  position: relative;
  min-height: 100vh;

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 21rem;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

  .home-hero--asset{
    position: absolute;
    left:0;
    bottom: 0;
    line-height: 0;
    max-width: 1400px;
    z-index: 1;
    img{
      max-width: 100%;
    }
  }

  .wrap, .wrap-sm{
    z-index: 1;
    position:relative;
  }

  h1.hero--title{
    color:rgba(255,255,255,.5);
    font-size: 16rem;
    text-transform: uppercase;
    font-family: $sans-serif-bold;
    text-align: center;
  }
}

.home{
  h2{
    text-align: center;
    color:rgba(255,255,255,.08);
    font-size: 16rem;
    text-transform: uppercase;
    font-family: $sans-serif-bold;
  }
  #people{
    margin-top: 7.9rem;
    h2{
      text-align: right;
    }
  }
  #places{
    margin-top: 10rem;
    h2{
      text-align: left;
    }
  }
}


#people{
  h4{
    color:#fff;
    text-transform: uppercase;
    font-family: $sans-serif-bold;
    font-size: 1.8rem;
  }
}

.person{
  text-align: center;
  border-radius: 15px;
  background-color: #171717;
  overflow:hidden;

  .person--thumbnail{
    width: 100%;
    margin: 0 0 2rem 0;
    img{
      width: 100%;
    }
  }
  .person--title{
    margin: 0 0 2rem 0;
    font-family: $sans-serif-bold;
    color: #fff;
  }
  .person--link{
    border-radius: 12rem;
    background-color: #1F1F1F;
    padding: 1rem 4rem;
    text-align: center;
    margin: 0 0 4rem 0;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
  }
}

.place{
  width: 100%;
  position: relative;
  clear: both;
  color: #fff;
  margin: 0 0 14rem 0;
  display: inline-block;

  h3{
    color: #fff;
    font-size: 8rem;
    font-family: $sans-serif-bold;
  }

  .place--content{
    width: 60%;
    position: relative;
    z-index: 2;
    display: inline-block;
    float: left;
    margin-top: 4rem;
  }

  .place--thumbnail{
    width: 60%;
    position: relative;
    margin-left: -20%;
    z-index: 1;
    float: right;
    display: inline-block;
  }
}

.flip{
  .place--content{
    width: 50%;
    float: right !important;
    margin-left: -10% !important;
  }

  .place--thumbnail{
    margin-left: 0 !important;
    float: left !important;
  }
}



/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/

.footer{
  background-color: #171717 !important;
}
