/******************************************************************
Site Name:
Author:
=======
Developed by:
URL:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.
******************************************************************/

/*********************
COLORS
*********************/

$riz3-blue:        #47a7de;
$riz3-yellow:      #f4ee34;

//Color scheme active for this theme
$black:            #000;
$riz3-dark-grey:   #494949;
$riz3-grey:        #6d6d6d;
$riz3-light-grey:  #e5e5e5;
$white:            #fff;

$riz3-orange:      #f15f43;

//Do not change variable names below this line (things will break)
$primary-color:    $riz3-grey;
$secondary-color:  $riz3-grey;

$link-color:       $riz3-blue;
$link-hover:       $black;

$cta-color:        $riz3-dark-grey;
$cta-hover:        $riz3-blue;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

/*********************
TYPOGRAPHY
*********************/

.center {
  text-align: center;
}

$sans-serif: 'montserrat-light', Arial, sans-serif;
$sans-serif-italic: 'montserrat-light-italic', Arial, sans-serif;
$sans-serif-bold: 'montserrat-extrabold', Arial, sans-serif;
$serif: Times New Roman, Times, serif;
