/******************************************************************
Developed by:
URL:

Stylesheet: Main Stylesheet

Load stylesheets!
******************************************************************/

//
// IMPORTING STYLES
//

// import mixins
@import 'mixins';

/*
BASE (MOBILE) SIZE
These are the mobile styles.
*/

// styles in _base.scss
@import 'base';

/*
TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 768px) {
  // styles in 768up.scss
  @import '768up';
} // end of media query

/*
DESKTOP
*/
@media only screen and (min-width: 1030px) {
  // styles in 1030up.scss
  @import '1030up';
} // end of media query

@media only screen and (min-width: 1240px) {
  // styles in 1030up.scss
  @import '1240up';
} // end of media query
